<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Last edit: 23.04.2024, 11:09 by Mateusz Chojnowski mateusz.chojnowski@inseye.com
  ~ Copyright (c) Inseye Inc.
  ~
  ~ This file is part of Inseye Software Development Kit subject to Inseye SDK License
  ~ See  https://github.com/Inseye/Licenses/blob/master/SDKLicense.txt.
  ~ All other rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inseye.shared">
    <!--Must match declarations in BoundService manifest-->
    <queries>
        <package android:name="com.inseye.tracker_service" />
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>